:root {
  --white: #ffffff;
  --cream: #f2eae2;
  --dark-cyan: #3c8067;
  --very-dark-blue: #1c232b;
  --dark-grayish-blue: #6b7189;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--cream);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", sans-serif;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  src: url("../assets/fonts/Montserrat/Montserrat-Medium.ttf")
    format("truetype");
  src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Fraunces";
  src: url("/assets/fonts/Fraunces/Fraunces.ttf") format("truetype");
}

/* Containers */

.container-1440 {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 1rem;
  display: flex;
  max-width: 1440px;
  justify-content: center;
  flex-direction: column;
}

.container-card {
  width: 100%;
  margin: auto;
  display: flex;
  max-width: 700px;
  flex-direction: column;
}

.container-image {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-image: center;
  background-repeat: no-repeat;
  border-radius: 10px 10px 0px 0px;
  background-image: url("../assets/images/image-product-mobile.jpg");
}

.container-money {
  gap: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.container-tittle {
  gap: 1rem;
  display: flex;
  align-items: start;
  margin-bottom: 20px;
  flex-direction: column;
}

.container-paragraph {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 0px 0px 10px 10px;
}

.container-paragraph-chanel {
  margin-bottom: 20px;
}

/* Styles content */

.attribution {
  font-size: 16px;
  text-align: center;
  color: hsl(228, 45%, 44%);
}

.second-money {
  font-size: 14px;
  font-weight: 500;
}

.tittle-parfum {
  font-size: 38px;
  font-weight: 700;
  font-family: "Fraunces", serif;
}

.button-tittle {
  font-size: 16px;
  font-weight: 500;
  color: var(--white);
}

.button-parfum {
  gap: 10px;
  width: 100%;
  height: 40px;
  margin: auto;
  display: flex;
  cursor: pointer;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-cyan);
}

.subtitle-parfum {
  font-size: 16px;
  font-weight: 500;
  line-height: 10px;
  letter-spacing: 5px;
  color: var(--dark-grayish-blue);
}

.principal-money {
  font-size: 35px;
  font-weight: 700;
  color: var(--dark-cyan);
  font-family: "Fraunces", serif;
}

.paragraph-chanel {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3rem;
  color: var(--very-dark-blue);
}

/* Responsive design */

@media (min-width: 1024px) {
  .container-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .container-paragraph {
    border-radius: 0px 10px 10px 0px !important;
  }

  .container-image {
    height: 500px !important;
    border-radius: 10px 0px 0px 10px !important;
    background-image: url("../assets/images/image-product-desktop.jpg") !important;
  }
}
